name: Run

on:
  schedule:
     - cron: "12 3 * * *"
permissions:
  contents: read

jobs:
  scrape:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install packages
      run: |
        python -m pip install --upgrade pip
        pip install -r httpx
    - name: Run
      env:
        NSSCTF_USERNAME: ${{ secrets.NSSCTF_USERNAME }}
        NSSCTF_PASSWORD: ${{ secrets.NSSCTF_PASSWORD }}
      run: | 
        python main.py > /tmp/coins
    - name: Report
      env:
        REPORT_ADDR: ${{ secrets.REPORT_ADDR }}
      run: | 
        cat /tmp/coins | xargs -I {} curl --get "$REPORT_ADDR" --data-urlencode 'id=KGI01_J3F889W7OQ' --data-urlencode 'value={}'